<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>صفحه مشاور</title>
<meta name="keywords" content="مدرسه الکترونیکی" />
<meta name="description" content="مدرسه الکترونیکی" />
<link rel="stylesheet" href="/static/msiteapp/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/custombox.css" type="text/css" />
</head>

<body>
<script src="/static/msiteapp/js/jquery.min.js"></script>
<div id="topmenu">
<div class="middle">
<ul>
<li><a href="index.html/">صفحه نخست</a></li>
<li><a href="hosting.html">درباره مدرسه</a></li>
<li><a href=".html">گروه ها</a></li>
<li><a href="n.html">امکانات سایت</a></li>
<li><a href="gn.html">اخبارمدرسه</a></li>
<li><a href="er/">افتخارات مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>

</div>

</div>

<div class="middle">
<div class="clear"></div>

<div id="logo"></div>
<div id="phone"><span class="entypo-phone"></span>021 - 88221982</div>


<div class="clear"></div>
<div class="slideshow nivoSlider theme-bar">
<img src="/static/msiteapp/slide/1.jpg" alt="مدرسه" />
<img src="/static/msiteapp/slide/2.jpg" alt="مدرسه" />
<img src="/static/msiteapp/slide/3.jpg" alt="مدرسه" />
<img src="/static/msiteapp/slide/4.jpg" alt="مدرسه" />

</div>

<div class="clear"></div>
<div id="sidebar">


<div class="widget">
<h2><span class="entypo-layout bluecolor"></span>منوی مشاور</h2>

<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="g.html">ارتباط با والدین</a></li>
<li><a href="r.html">به روز رسانی پیام مشاور</a></li>
<li><a href="n.html">برنامه ریزی تحصیلی دانش آموزان</a></li>
<li><a href="/home/">خروج</a></li>

</ul>
</div>


</div>
<div class="content">
<h2><span class="entypo-newspaper redcolor"></span>نقش مشاور درامورتحصیلی وتربیتی دانش آموزان
 </h2>


<p>
<img src="/static/msiteapp/images/moshavereh.jpg" alt="طراحی وب سایت" width="341" height="273" class="fl fivepx" />
 مشاوران با تسهیل جریان رشد همه جانبهء فرد، آموزش مهارت های زندگی فردی ،اجتماعی ،کاهش و حذف موانع رشد،خودشناسی ومحیط شناسی و ارائه سایر خدمات یاورانه ،روانشناختی درمدارس نقش بسیارحساسی دارند.
 <br />
 <br />
 الف: رشد وتوسعه قوای فکری ومعنوی وعقلی دانش آموزان
 <br />
 <br />
  ب: رشد وتوسعه مهارتهای شغلی وحرفه ای دانش آموز
  <br />
  <br />
  ج: رشد وتوسعه شخصیت دانش آموز
  <br />
  <br />
<a class="customlink" href="webdesign-dynamic-website.html">ادامه مطلب...</a>

</p>

<br />
<br />
<h2><span class="entypo-newspaper redcolor"></span>برنامه هفتگی سال جدید</h2>
<p>برنامه هفتگي سال تحصيلي با آخرين تغييرات صورت گرفته در تاريخ 14 مهر بر روي سايت قرار گرفت.

اين برنامه شامل تمامي كلاسهاي برگزار شده در هر پايه ، زمان كلاسها و زمان زنگ هاي تفريح مي باشد.

براي توضيحات بيشتر و مشاهده و دريافت فايل PDF برنامه هفتگي به ادامه مطلب برويد.


<a class="customlink" href="webdesign-dynamic-website.html">ادامه مطلب...</a>
</p>

<br />
<br />
<h2><span class="entypo-doc-text redcolor"></span>كسب هشت مدال رنگارنگ المپياد</h2>
<p>پس از قبولي 136 نفر از دانش آموزان در مرحله اول المپيادهاي كشوري كه خود ركورد بي نظيري به حساب مي آيد (كه به تفكيك در جدول زير آمده است) ، تعداد 8 نفر از دانش آموزان با قبولي در مرحله دوم جواز حضور در مرحله پاياني و كسب مدال را كسب كردند. كه تمامي اين دانش آموزان توانستند مدال هاي رنگارنگي را براي خود و دبيرستان به ارمغان بياورند.


<a class="customlink" href="webdesign-static-website.html">توضیحات بیشتر...</a>
</p>







</div>



<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="footer">

<div class="middle">
<div class="firstbox">
<p>تمامی حقوق برای مدرسه محفوظ است.<br/>
هر گونه کپی برداری از قالب پیگرد دارد.</p>
</div>

<div class="footerbox">
<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="ng.html">درباره مدرسه</a></li>
<li><a href="er.html">اخبار</a></li>
<li><a href="n.html">ورود کاربران</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="wn.html">گروه ها</a></li>
<li><a href="ps.html">افتخارات مدرسه</a></li>
<li><a href="po.html">آدرس</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="user/login.php">ورود کاربران</a></li>
<li><a href="user/register.php">عضویت در سامانه</a></li>
<li><a href="terms.html">قوانین مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>
</div>

<div class="footerbox">



</div>

</div>

</div>
	<script src="/static/msiteapp/js/jquery.custombox.js"></script>
    <script type="text/javascript" src="/static/msiteapp/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('.slideshow').nivoSlider();
    });
	
    </script>
    
    <script>
$('#example1').on('click', function () {
    $.fn.custombox( this, {
        overlay: true,
        effect: 'slit'
    });
    return false;
});
</script>

</body>
<link rel="canonical" href="http://www...ir" />
</html>
