<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/student/{{a}}/karname mehr/">مهر</a>
<br>

<a href="/student/{{a}}/karname mehr/">آبان</a>
<br>
<a href="/student/{{a}}/karname mehr/">آذر</a>
<br>
<a href="/student/{{a}}/karname mehr/">دی</a>
<br>
<a href="/student/{{a}}/karname mehr/">بهمن</a>
<br>
<a href="/student/{{a}}/karname mehr/">اسفند</a>
<br>
<a href="/student/{{a}}/karname mehr/">فروردین</a>
<br>
<a href="/student/{{a}}/karname mehr/">اردیبهشت</a>
<br>
<a href="/student/{{a}}/karname mehr/">خرداد</a>
<br>

</body>
</html>