<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>صفحه نمرات ماهانه دانش آموز</title>
<meta name="keywords" content="مدرسه الکترونیکی" />
<meta name="description" content="مدرسه الکترونیکی" />
<link rel="stylesheet" href="/static/msiteapp/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/custombox.css" type="text/css" />
<script src="/static/msiteapp/js/jquery.min.js"></script>
</head>

<body>
<div id="topmenu">
<div class="middle">
<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="hosting.html">درباره مدرسه</a></li>
<li><a href=".html">گروه ها</a></li>
<li><a href="n.html">امکانات سایت</a></li>
<li><a href="gn.html">اخبارمدرسه</a></li>
<li><a href="er/">افتخارات مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>
<!--
    <p style="color: red;font-size:16px;font-family: 'yekan';float:right;padding:7px;margin-right: 5px">شما در صفحه شخصیتان هستید. {{ a }}</p>
-->
</div>

</div>

	<div class="middle">
<div class="clear"></div>

<div id="logo"></div>



<div class="clear"></div>
<div id="sidebar">


<div class="widget">

<h2><span class="entypo-layout bluecolor"></span>&nbsp;منوی دانش آموز</h2>


<!----------------------------------------------------------------------------------------------------------------------------->

<div id="vertical-nav">

<ul class="vertical-top-level">

<li>
<a href="student.html">صفحه دانش آموز</a>

</li>

<li>
<a href="stu-lessons.html">دروس &raquo;</a>
  <ul class="vertical-sub-level">
    <li><a href="stu-lessons.html">ریاضی</a></li>
    <li><a href="stu-lessons.html">فیزیک</a></li>
	<li><a href="stu-lessons.html">شیمی</a></li>
	<li><a href="stu-lessons.html">ادبیات</a></li>
	<li><a href="stu-lessons.html">زبان</a></li>
	<li><a href="stu-lessons.html">عربی</a></li>



  </ul>
</li>
<li>
<a href="stu-MonthMark.html">نمرات ماهانه</a>


</li>
<li>
<a href="#">مسابقات </a>


</li>

<li><a href="#">آزمون ها</a></li>
<li><a href="/logout/">خروج</a></li>
</ul>
</div>
</div>
</div>
<!----------------------------------------------------------------------------------------------------------------->

<div class="content">

<h2><span class="entypo-plus-squared redcolor"></span> نمرات</h2>
<body dir="rtl">

<form method="get" action = "/set_marks/">
<center>


<div>
<table border="1" style="width:100%" dir="rtl" >
<tr>
    <th>نام درس</th>
    <th>نمره پايه</th>
    <th>نمره</th>
    <th>توضيحات</th>
</tr>

    <br>

{% for y in xx %}

        <SCRIPT Language="JavaScript">
            document.write('<tr>')
        </SCRIPT>

            {% for x in y %}

                <SCRIPT Language="JavaScript">
                    document.write('<td>')
                </SCRIPT>
                {{ x }}
                <SCRIPT Language="JavaScript">
                    document.write('</td>')
                </SCRIPT>

            {% endfor %}

        <SCRIPT Language="JavaScript">
            document.write('</tr>')
        </SCRIPT>

{% endfor %}

</table></center>
</form>
</body>
</div>
<div class="clear"></div>
</div>

<!---------------------------------------------------------------------------------------------------------------->
<div class="clear"></div>
<div id="footer">

<div class="middle">
<div class="firstbox">
<p>تمامی حقوق برای مدرسه محفوظ است.<br/>
هر گونه کپی برداری از قالب پیگرد دارد.</p>
</div>

<div class="footerbox">
<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="ng.html">درباره مدرسه</a></li>
<li><a href="er.html">اخبار</a></li>
<li><a href="n.html">ورود کاربران</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="wn.html">گروه ها</a></li>
<li><a href="ps.html">افتخارات مدرسه</a></li>
<li><a href="po.html">آدرس</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="user/login.php">ورود کاربران</a></li>
<li><a href="user/register.php">عضویت در سامانه</a></li>
<li><a href="terms.html">قوانین مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>
</div>


</div>

</div>


</body>
<link rel="canonical" href="http://www...ir" />
</html>
