<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>صفحه دبیر</title>
<meta name="keywords" content="مدرسه الکترونیکی" />
<meta name="description" content="مدرسه الکترونیکی" />
<link rel="stylesheet" href="/static/msiteapp/css/reset.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/style.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/icons.css" type="text/css" />
<link rel="stylesheet" href="/static/msiteapp/css/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/static/msiteapp/css/custombox.css" type="text/css" />
</head>

<body>

<script src="/static/msiteapp/js/jquery.min.js"></script>

<div id="topmenu">
<div class="middle">
<ul>
<li><a href="index.html/">صفحه نخست</a></li>
<li><a href="hosting.html">درباره مدرسه</a></li>
<li><a href=".html">گروه ها</a></li>
<li><a href="n.html">امکانات سایت</a></li>
<li><a href="gn.html">اخبارمدرسه</a></li>
<li><a href="er/">افتخارات مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>
<p style="color: red;font-size:16px;font-family: 'yekan';float:right;padding:7px;margin-right: 5px">شما در صفحه شخصیتان هستید. {{ a }}</p>
</div>
<a href="/logout/">Logout</a><br />
</div>

<div class="middle">
<div class="clear"></div>

<div id="logo"></div>
<div id="phone"><span class="entypo-phone"></span>021 - 88221982</div>


<div class="clear"></div>
<div class="slideshow nivoSlider theme-bar">
<img src="/static/msiteapp/slide/1.jpg" alt="مدرسه" />
<img src="/static/msiteapp/slide/2.jpg" alt="مدرسه" />
<img src="/static/msiteapp/slide/3.jpg" alt="مدرسه" />
</div>

<div class="clear"></div>
<div id="sidebar">


<div class="widget">
<h2><span class="entypo-layout bluecolor"></span>منوی دبیر</h2>

<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="g.html">ارائه گزارش</a></li>
<li><a href="r.html">پیام های والدین</a></li>
<li><a href="n.html">مدیریت تکالیف</a></li>
<li><a href="/logout/">خروج</a></li>

</ul>
</div>


</div>

<div class="content">


<h2><span class="entypo-plus-squared redcolor"></span> امکانات</h2>

<div class="feat">
<img alt="transfer" src="/static/msiteapp/images/refresh.png" />
<h4>ارائه گزارش</h4>
<p>برای ارائه گزارش از این قسمت وارد شوید</p>
</div>

<div class="feat">
<img alt="support" src="/static/msiteapp/images/monitor.png" />
<h4>پیام های والدین</h4>
<p>برای مشاهده پیام های والدین از این قسمت وارد شوید</p>
</div>

<div class="feat">
<img alt="directadmin" src="/static/msiteapp/images/clock.png" />
<h4>مدیریت تکالیف</h4>
<p>برای مدیریت تکالیف از این قسمت وارد شوید</p>
</div>



</div>




<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="footer">

<div class="middle">
<div class="firstbox">
<p>تمامی حقوق برای مدرسه محفوظ است.<br/>
هر گونه کپی برداری از قالب پیگرد دارد.</p>
</div>

<div class="footerbox">
<ul>
<li><a href="index.html">صفحه نخست</a></li>
<li><a href="ng.html">درباره مدرسه</a></li>
<li><a href="er.html">اخبار</a></li>
<li><a href="n.html">ورود کاربران</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="wn.html">گروه ها</a></li>
<li><a href="ps.html">افتخارات مدرسه</a></li>
<li><a href="po.html">آدرس</a></li>
</ul>
</div>

<div class="footerbox">
<ul>
<li><a href="user/login.php">ورود کاربران</a></li>
<li><a href="user/register.php">عضویت در سامانه</a></li>
<li><a href="terms.html">قوانین مدرسه</a></li>
<li><a href="contact.html">تماس با ما</a></li>
</ul>
</div>

<div class="footerbox">



</div>

</div>

</div>
	<script src="/static/msiteapp/js/jquery.custombox.js"></script>
    <script type="text/javascript" src="/static/msiteapp/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('.slideshow').nivoSlider();
    });
	
    </script>
    
    <script>
$('#example1').on('click', function () {
    $.fn.custombox( this, {
        overlay: true,
        effect: 'slit'
    });
    return false;
});
</script>

</body>
<link rel="canonical" href="http://www...ir" />
</html>
